/*
 * Copyright (c) 2008-2019, Hazelcast, Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

package com.hazelcast.client.protocol.compatibility;

import com.hazelcast.client.impl.protocol.ClientMessage;
import com.hazelcast.client.impl.protocol.ClientMessageReader;
import com.hazelcast.client.impl.protocol.codec.*;
import com.hazelcast.nio.serialization.Data;
import com.hazelcast.test.HazelcastParallelClassRunner;
import com.hazelcast.test.annotation.ParallelJVMTest;
import com.hazelcast.test.annotation.QuickTest;
import org.junit.Before;
import org.junit.Test;
import org.junit.experimental.categories.Category;
import org.junit.runner.RunWith;

import java.io.File;
import java.io.FileInputStream;
import java.io.IOException;
import java.io.InputStream;
import java.nio.ByteBuffer;
import java.util.AbstractMap;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.List;
import java.util.Map;

import static com.hazelcast.client.impl.protocol.ClientMessage.IS_FINAL_FLAG;
import static com.hazelcast.client.protocol.compatibility.ReferenceObjects.*;
import static org.junit.Assert.assertArrayEquals;
import static org.junit.Assert.assertEquals;
import static org.junit.Assert.assertNotNull;
import static org.junit.Assert.assertTrue;

@RunWith(HazelcastParallelClassRunner.class)
@Category({QuickTest.class, ParallelJVMTest.class})
public class ClientCompatibility{% if test_nullable %}Null{% endif %}Test_{{ '_'.join(protocol_version.split('.')) }} {
    private List<ClientMessage> clientMessages = new ArrayList<>();

    @Before
    public void setUp() throws IOException {
        File file = new File(getClass().getResource("/{{ protocol_version }}.protocol.compatibility{% if test_nullable %}.null{% endif %}.binary").getFile());
        InputStream inputStream = new FileInputStream(file);
        byte[] data = new byte[(int) file.length()];
        inputStream.read(data);
        ByteBuffer buffer = ByteBuffer.wrap(data);
        ClientMessageReader reader = new ClientMessageReader(0);
        while (reader.readFrom(buffer, true)) {
            clientMessages.add(reader.getClientMessage());
            reader.reset();
        }
    }
    {% set counter = namespace(count=0) %}
    {% for service in services %}
    {% for method in service.methods %}

    @Test
    public void test_{{ service.name|capital}}{{ method.name|capital }}Codec_encodeRequest() {
        int fileClientMessageIndex = {{ counter.count }};
        ClientMessage encoded = {{ service.name|capital }}{{ method.name|capital }}Codec.encodeRequest({% for param in method.request.params %}{%if test_nullable and param.nullable %}null{% else %}{{ reference_objects_dict[param.type] }}{% endif %}{% if not loop.last %}, {% endif %}{% endfor %});
        ClientMessage fromFile = clientMessages.get(fileClientMessageIndex);
        compareClientMessages(fromFile, encoded);
    }
    {% set counter.count = counter.count + 1 %}

    @Test
    public void test_{{ service.name|capital }}{{ method.name|capital }}Codec_decodeResponse() {
        int fileClientMessageIndex = {{ counter.count }};
        ClientMessage fromFile = clientMessages.get(fileClientMessageIndex);
        {% set entry_list_data_data_params = type_filter(method.response.params, 'EntryList_Data_Data') %}
        {% for param in entry_list_data_data_params %}
        List<Map.Entry<Data, Data>> {{ param.name }}List = new ArrayList<>();
        {% endfor %}
        {{ service.name|capital }}{{ method.name|capital }}Codec.ResponseParameters parameters = {{ service.name|capital }}{{ method.name|capital }}Codec.decodeResponse(fromFile{% for param in entry_list_data_data_params %}, (key, value) -> {{ param.name }}List.add(new AbstractMap.SimpleEntry<>(key, value)){% endfor %});
        {% for param in method.response.params %}
        assertTrue(isEqual({%if test_nullable and param.nullable %}null{% else %}{{ reference_objects_dict[param.type] }}{% endif %}, {% if param.type == 'EntryList_Data_Data' %}{{ param.name }}List{% else %}parameters.{{ param.name }}{% endif %}));
        {% endfor %}
    }
    {% set counter.count = counter.count + 1 %}
    {% if method.events|length != 0%}

    private class {{ service.name|capital }}{{ method.name|capital }}CodecHandler extends {{ service.name|capital }}{{ method.name|capital }}Codec.AbstractEventHandler {
        {% for event in method.events %}
        @Override
        public void handle{{ event.name|capital }}Event({% for param in event.params %}{{ lang_types_encode(param.type) }} {{param.name}}{% if not loop.last %}, {% endif %}{% endfor %}) {
            {% for param in event.params %}
            assertTrue(isEqual({%if test_nullable and param.nullable %}null{% else %}{{ reference_objects_dict[param.type] }}{% endif %}, {{ param.name }}));
            {% endfor %}
        }
        {% endfor %}
    }
    {% for event in method.events %}

    @Test
    public void test_{{ service.name|capital }}{{ method.name|capital }}Codec_handle{{ event.name|capital }}Event() {
        int fileClientMessageIndex = {{ counter.count }};
        ClientMessage fromFile = clientMessages.get(fileClientMessageIndex);
        {{ service.name|capital }}{{ method.name|capital }}CodecHandler handler = new {{ service.name|capital }}{{ method.name|capital }}CodecHandler();
        handler.handle(fromFile);
    }
    {% set counter.count = counter.count + 1 %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% endfor %}

    private void compareClientMessages(ClientMessage binaryMessage, ClientMessage encodedMessage) {
        ClientMessage.Frame binaryFrame, encodedFrame;

        ClientMessage.ForwardFrameIterator binaryFrameIterator = binaryMessage.frameIterator();
        ClientMessage.ForwardFrameIterator encodedFrameIterator = encodedMessage.frameIterator();

        boolean isInitialFramesCompared = false;
        while (binaryFrameIterator.hasNext()) {
            binaryFrame = binaryFrameIterator.next();
            encodedFrame = encodedFrameIterator.next();
            assertNotNull("Encoded client message has less frames.", encodedFrame);

            boolean isFinal = binaryFrameIterator.peekNext() == null;
            if (!isInitialFramesCompared) {
                compareInitialFrame(binaryFrame, encodedFrame, isFinal);
                isInitialFramesCompared = true;
            } else {
                assertArrayEquals("Frames have different contents", binaryFrame.content, encodedFrame.content);
                int flags = isFinal ? encodedFrame.flags | IS_FINAL_FLAG : encodedFrame.flags;
                assertEquals("Frames have different flags", binaryFrame.flags, flags);
            }
        }
        assertTrue("Client message that is read from the binary file does not have any frames", isInitialFramesCompared);
    }

    private void compareInitialFrame(ClientMessage.Frame binaryFrame, ClientMessage.Frame encodedFrame, boolean isFinal) {
        assertTrue("Encoded client message have shorter initial frame",
                binaryFrame.content.length <= encodedFrame.content.length);
        assertArrayEquals("Initial frames have different contents",
                binaryFrame.content, Arrays.copyOf(encodedFrame.content, binaryFrame.content.length));
        int flags = isFinal ? encodedFrame.flags | IS_FINAL_FLAG : encodedFrame.flags;
        assertEquals("Initial frames have different flags", binaryFrame.flags, flags);
    }
}
